html,body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;	
}

body{
	background:transparent url(../images/office2007/bg.jpg) repeat-x left top;
}

#loginwrap{
	margin:0px auto;
	/*background:transparent url(../images/office2007/loginbg.jpg) no-repeat center center;*/
	height:600px;
	width:900px;
	overflow:auto;
}

#title{
	margin-top:165px;
	margin-left:275px;
	font-size:18px;
	line-height:32px;
	color:#185692;
	/*font-weight:bold;*/
}

#user{
	margin-top:106px;
	margin-left:430px;
}

.input{
	margin-left:19px;	
	margin-top:1px;
	padding:0px;
	width:132px;
	height:17px;
	border:1px solid #acacac;
}

#user .input{	
	margin-top:0px;
}

#password{
	margin-top:11px;
	*margin-top:8px !important;
	margin-left:430px;
}

#password .input{
	margin-top:1px;
}

#submit{
	margin-top:18px;
	*margin-top:17px !important;
	margin-left:300px;	
}

#submit input{
	border:medium none;
	background:transparent;	
	height:26px;
	width:71px;	
	margin-left:105px;
}

#submit #botton_reset{	
	margin-left:0px;
	margin-right:10px;
}
