/*
@: 新闻页样式
@：xiebei 20130615
*/
.breadCutNav{
	height:33px;padding-left:5px;margin-bottom:7px;
	line-height:36px;
	border:1px solid #afc5dd;border-bottom:3px solid #027fd8;
	background-position:0 -595px;
	}
.breadCutNav a,.breadCutNav span{float:left;color:#404040;font-size:12px;}
.breadCutNav span{margin:0 5px;font-family:Arial;font-size:14px;}
.breadCutNav .cur{color:#0d5da6;}
.icon_home{display:block;float:left;width:21px;height:17px;margin:8px;background-position:0 -278px;}
.mainList{width:779px;float:left;}
.mainList .trafficNews{border:1px solid #afc5dd;}
.trafficNews h2{height:29px;margin-bottom:12px;padding-left:18px;font:bold 14px/29px \5b8b\4f53;color:#fff;line-height:29px;background-color:#027fd8;}
.trafficNews ul{font:12px/30px \5b8b\4f53;color:#404040;}
.trafficNews li{height:30px;}
.trafficNews li:hover{color:#d90c0c;}
.trafficNews li a{display:block;float:left;width:600px;}
.trafficNews li span{display:block;float:right;width:80px;}
.icon_noteBook{display:block;float:left;width:14px;height:16px;margin:5px 18px auto;background-position:0 -316px;}
.subList{width:235px;float:right;border:1px solid #afc5dd;background:#e5e5e5 url(../images/global/bg_newsListRight.png) top right no-repeat;}
.subList_title{color:#404040;height:33px;line-height:33px;border-bottom:3px solid #027fd8;}
.subList_title h2{float:left;margin-left:10px;font:100 12px/36px \5b8b\4f53;}
.subList_title ul{float:right;}
.subList_title li{float:left;}
.subList_title li.normal b{background-image:none;}
.subList_title li a{display:block;float:left;padding:0 15px;color:#404040;line-height:36px;background-position:0 -652px;}
.subList_title li a:hover{margin-bottom:3px;margin-top:-1px;line-height:34px;border-top:1px solid #027fd8;}
.subList_title li b{display:block;width:3px;height:34px;float:left;}
.nav_LBg{background-position:-64px -137px;}
.nav_RBg{background-position:-68px -137px;}
.subList_con{color:#0064ad;margin-top:3px;}
.subList_con li{height:34px;border-bottom:1px dashed #adadad;}
.subList_con b{
	display:block;float:left;
	width:15px;height:15px;margin:9px 7px auto;
	font:12px/15px \5b8b\4f53;color:#fff;text-align:center;
	background-color:#adadad;}
.subList_con .hot b{background-color:#027fd8;}
.subList_con a{
	display:block;float:left;
	width:190px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;break-word:keep-all;
	color:#404040;line-height:34px;}
.subList_con li:hover a{color:#d90c0c;}
.subList_con .hot a{color:#027fd8;}

/*
@:新闻详情页样式
@:newsDetail
*/
.newsDetail{padding:20px;border:1px solid #afc5dd;font:12px/30px \5b8b\4f53;}
.newsDetail h2{font:24px/70px Microsoft YaHei;color:#000;text-align:center;border-bottom:2px dotted #828080;}
.newsDetail ul{margin:7px 0;}
.newsDetail li{display:block;float:left;width:33%;line-height:24px;}
.newsDetail .share span,.newsDetail .share a{float:right;}
.newsDetail .share a{display:block;width:24px;height:24px;margin:0 3px;}
.sinaBlog{background-position:-66px -200px;}
.qZone{background-position:-96px -200px;}
.qqBlog{background-position:-125px -200px;}
.newsDetail h3{font-size:14px;margin-top:20px;}
/*
@:  样式
@:evaluate
*/
.evaluate{margin:36px 0;heigth:24px;}
.evaluate dt,.evaluate dd{float:left;width:96px;height:24px;margin-right:10px;}
.evaluate dd.last{margin-right:0;}
.evaluate dt{background-position:-65px -245px;}
.evaluate dd{background-position:-65px -282px;cursor:pointer;}
.evaluate dd b{display:block;float:left;width:21px;height:21px;margin:1px 2px 1px 4px;_margin:1px 2px;}
.evaluate .sy b{background-position:-192px -56px;}
.evaluate .gr b{background-position:-242px -56px;}
.evaluate .kx b{background-position:-292px -56px;}
.evaluate .wl b{background-position:-342px -56px;}
.evaluate .ng b{background-position:-392px -56px;}
.evaluate .hd b{background-position:-442px -56px;}
.evaluate dd span,.evaluate dd em{display:block;float:left;height:22px;width:33px;font:12px/24px \5b8b\4f53;text-align:center;}
.evaluate dd span{color:#333;}
.evaluate dd em{color:#ff8019;}
/*
@:
@:photoList
*/
.title_photo{position:relative;border-top:5px solid #313131;height:41px;}
.title_photo span{
	display:block;position:absolute;top:-5px;left:0;
	font:18px/40px \5FAE\8F6F\96C5\9ED1;color:#313131;
	border-top:5px solid #027fd8;
	}
.photoList li{float:left;width:227px;margin-right:23px;border:1px solid #6d6d6d;}
.photoList li .pic{display:block;position:relative;width:217px;height:145px;overflow:hidden;}
.photoList li img{max-width:217px;max-height:145px;_width:217px;_height:145px;margin:5px 5px 0;}
.photoList p{height:14px;line-height:14px;margin:11px 0;color:#8f8f8f;padding:0 5px;}
.photoList h3{padding:0 5px;background-color:#ddd;text-align:center;}
.photoList h3 a{
	display:block;width:100%;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;break-word:keep-all;
	font:normal 12px/35px \5b8b\4f53;color:#2c2b2b;line-height:35px;
	}
#photo .subList{border:none;background:none;}
.photoList_sub a{font:12px/28px \5b8b\4f53;color:#404040;}
.photoList_sub .i_pic,.photoList_sub .i_video{float:left;margin:8px 10px 0 0;}
/*
@:.img-scroll :图片滚动
@:
*/
.img-scroll .prev,
.img-scroll .next{
	background-image: url(../images/global/bg_iconSprite.png);background-repeat:no-repeat;
	}
.img-scroll {
	/*position:absolute;bottom:-112px;z-index:99;*/
	/*width:448px;*/position:relative;height:92px;/*margin:11px 0;*/
	background-position:-112px -1px;
	font:12px/14px SimSun;color:#525252;
	}
.img-scroll .prev,.img-scroll .next{
	display:block;position:absolute;top:15px;
	width:20px;height:64px;
}
.img-scroll .prev {left:0;margin-right:15px;background-position:-192px -158px;}
/*.img-scroll .prev:hover {background-position:-55px 0;}*/
.img-scroll .next{right:0;margin-left:15px;background-position:-219px -158px;}
/*.img-scroll .next:hover{background-position:-87px 0;}*/
.img-list{
	position:relative;left:30px;top:0;
	width:890px; padding:14px 0 14px 30px;
	overflow:hidden;
	}
.img-list ul {position:relative;left:0;float:left;margin:0;}
.img-list li {
	float:left;position:relative;
	width:113px;height:62px;margin:0 7px;
	text-align:center;vertical-align:middle;
	border:1px solid #474646;
	cursor:pointer;
}
.img-list li img{width:113px;height:62px;}
.img-list li.cur,.img-list li:hover{border-color:#027fd8;}
.img-list li.cur .triangleBlue14_9,.img-list li:hover .triangleBlue14_9{
	display:block;position:absolute;bottom:-14px;left:50%;
	margin-left:-7px;width:14px;height:9px;
	background-position:-161px -200px;
	}
/*
@:杂志
@:xiebei 20130706
*/
.mgzPhotoIntro{height:400px;border:1px solid #878787;background:url(../images/bg_magazine.png);}
.mgzSelect{text-align:right;}
.selectMenu{position:relative;display:inline-block;width:132px;height:24px;margin:9px 6px 16px;background-position:-65px -316px;}
.selectText{display:block;height:24px;width:94px;text-align:center;padding:0 5px;line-height:24px;}
.option{width:102px;text-align:left;text-indent:5px;background-color:#fafafa;border:1px solid #959698;border-top:none;}
.option li{cursor:pointer;line-height:24px;}
.option li:hover{background-color:#eee;}
.column01{float:left;margin:24px 23px;width:252px;height:342px;border:3px solid #363636;border-radius:3px;}
.column01 img{width:252px;height:342px;}
.column02{float:left;width:250px;margin:97px auto 0 5px;}
.column02 h3 span{
	display:block;float:left;
	width:130px;height:32px;margin-right:7px;
	background:url(../images/mgzBg_sprite.png) no-repeat 0 0;
	}
.column02 h3 b{line-height:45px;font-family:\5FAE\8F6F\96C5\9ED1;}
.column02 dt{
	margin-bottom:59px;
	font:18px/30px \5FAE\8F6F\96C5\9ED1;color:#fff;text-indent:25px;
	background-color:rgba(66,65,65,0.83);
	}
.column02 dd{
	width:126px;height:30px;margin-bottom:25px;
	background-image:url(../images/global/bg_iconSprite.png);background-repeat:no-repeat;
	cursor:pointer;
	}
.btn_read{background-position:-247px -158px;}
.btn_downLoad{background-position:-247px -192px;}

.column03{
	float:right;width:317px;height:384px;margin-right:30px;
	background:url(../images/bg_magazine_directory.png) no-repeat;
	}
.column03 h3{height:56px;}
.column03 dl{margin:0 20px;}
.column03 dt{
	width:70px;height:18px;margin-top:25px;margin-bottom:10px;
	color:#0758a2;font:bold 16px/30px \9ED1\4F53;
	background-image:url(../images/mgzBg_sprite.png);background-repeat:no-repeat;
	}
.column03 .title01{background-position:0 -44px;}
.column03 .title02{background-position:0 -74px;}
.column03 dd a{line-height:24px;}
.dividerLine{position:relative;height:10px;}
.Line130_10{height:30px;background:url(../images/lineBg_magszine1030_10.png) no-repeat center top;}
.triangleGray32_16{
	display:block;position:absolute;bottom:-16px;left:50%;
	width:32px;height:16px;margin-left:-16px;
	background-position:-161px -245px;
	}
.mgzTextIntro{color:#000;line-height:30px;}
.mgzTextIntro h2{margin:30px 0 20px;font:18px/24px \5FAE\8F6F\96C5\9ED1;text-align:center;}
.mgzTextIntro div p{text-indent:25px;}
/*视频列表*/
#video .i_videoPlay{margin-right:5px;}
#video .i_videoPlay51_51,.bannerList .i_videoPlay51_51{position:absolute;top:50%;left:50%;margin-top:-25px;margin-left:-25px;z-index:9;}
#player01{
	width:810px;height:460px;padding:9px;margin:30px auto;
	border:1px solid #ebeaea;background-image:url(../images/bg_videoPlay.png);
	}
#video .subList{background:none;border:none;}
/*图片、视频页Banner切换*/

#wrapper {
	width:1024px;
	margin:30px auto 10px;
	position:relative;
}
.bannerList li {
	display:block;position:absolute;padding-bottom:4px;
	vertical-align:bottom;
	background:url(../images/shadowBg_bannerSwitch.png) no-repeat center bottom;
	cursor:pointer;
}
.show_images_1 {
	z-index:15;
	top:1px;
	left:190px;
}
.show_images_1 img {
	width:640px;
	height:323px;
}
.show_images_2 {
	z-index:10;
	top:40px;
	left:0px;
}
.show_images_2 img {
	width:481px;
	height:243px;
}
.show_images_3 {
	z-index:5;
	top:40px;
	left:543px;
}
.show_images_3 img {
	width:481px;
	height:243px;
}
.show_images_4 {
	z-index:0;
	top:40px;
	left:200px;
}
.show_images_4 img {
	width:481px;
	height:243px;
}
#belt {
	display:block;
	height:122px;
	left:200px;
	line-height:99em;
	overflow:hidden;
	position:absolute;
	top:1px;
	width:149px;
	z-index:100;
}
.btn {
	width:101px;
	height:25px;
	margin:auto;
	position:relative;
	padding-top:350px;
	z-index:999;
}
.btn a {
	width:17px;
	height:15px;
	overflow:none;
	display:block;
	background:url(../images/global/btn.jpg) no-repeat;
	cursor:pointer;
	float:left;
}
.btn a.active {
	background-position:-17px 0;
}
