@charset "utf-8";
/*背景*/
.i_quit,.sysSubMenu h3 b,.t_Sec b,.minus_t2,.add_t2,.t_secCon a b,.sysTopMenu a:hover .fillet,.sysTopMenu li.cur .fillet,.sysTopMenu li a:hover span,.sysTopMenu li.cur span,.sysTopMenu li span b,.btn44_20,.btnBlue,.btnBlue77_32,.btnRed77_32,.keyWords .btnGray
	{
	background-image: url(../images/sysManage/bg_sysSprite.png);
	background-repeat: no-repeat;
}
/*后台管理样式*/
body {
	background: url(../images/sysManage/bg_sysPage.jpg) repeat-x;
}
/*登陆页面*/
.sys_login {
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	padding-top: 1px;
	background: url(../images/sysManage/bg_sysLogin.jpg) center top
		no-repeat;
}

.loginInfo {
	width: 223px;
	height: 140px;
	margin: 245px 0 0 625px;
	line-height: 30px;
}

.loginInfo li {
	margin-bottom: 15px;
}

.loginInfo li.btn {
	margin-top: 22px;
}

.loginInfo label {
	display: block;
	float: left;
	height: 30px;
	width: 63px;
	text-align: center;
	color: #fff;
}

.inputText {
	width: 156px;
	height: 29px;
	line-height: 29px;
	color: #2a2a2b;
	font-size: 12px;
	border-width: 1px 0 0 1px;
	border-color: #0766a9;
	border-style: solid;
}

.btnBlue70_31 {
	display: block;
	float: left;
	position: relative;
	width: 70px;
	height: 31px;
	font: 16px/28px \5FAE\8F6F\96C5\9ED1;
	color: #013648;
	text-align: center;
	background: url(../images/sysManage/bg_sysSprite.png) no-repeat 0 0;
}

.mr14 {
	margin-right: 14px;
}

.btnBlue70_31 span {
	position: absolute;
	top: 0px;
	left: 17px;
	z-index: 2;
}

.btnBlue70_31 .b {
	color: #fff;
	top: 1px;
	left: 18px;
	z-index: 1;
}
/*
后台顶部样式
*/
.sys_header {
	position: relative;
	height: 65px;
	padding-bottom: 10px;
	background: url(../images/sysManage/bg_sysHeader.png) center -1px
		no-repeat;
}

.sys_header .sys_userInfo {
	float: left;
	color: #87befc;
	padding-top: 38px;
}

.sys_userInfo .i_user {
	vertical-align: middle;
	margin-right: 5px;
}

.sysLogo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -112px;
	width: 224px;
	height: 65px;
	background: url(../images/sysManage/sysLogo.png) no-repeat;
}

.quit {
	float: right;
	color: #fff;
	padding-top: 38px;
}

.i_quit {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: middle;
	background-position: -39px -36px;
}

.dividLine {
	position: absolute;
	top: 54px;
	width: 100%;
	height: 22px;
	background: url(../images/sysManage/bg_pageDividLine.png) top center
		no-repeat;
	z-index: 2;
}

.sysSubMenu {
	width: 175px;
	float: left;
}

/*左侧菜单*/
.sysSubMenu {
	line-height: 22px;
	border: 1px solid #25577a;
	background-color: #f5fcff;
}

.sysSubMenu h2 {
	line-height: 37px;
	font-size: 16px;
	color: #fff;
	text-indent: 25px;
	background: url(../images/sysManage/bg_sysSprite.png) 0 -101px repeat-x;
}

.sysSubMenu h3 {
	position: relative;
	top: 0;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	*padding-top: 4px;
	font-weight: 100;
	text-indent: 27px;
	color: #fff;
	background-color: #1174cb;
	border-top: 1px solid #25577a;
}

.sysSubMenu ul {
	border-top: 1px solid #25577a;
}

.sysSubMenu h3.cur {
	background-color: #ec8908;
}

.sysSubMenu h3 b {
	position: absolute;
	display: inline-block;
	top: 2px;
	*top: 3px;
	left: 3px;
	width: 16px;
	height: 16px;
}

.minus_t1 {
	background-position: -106px -36px;
}

.add_t1 {
	background-position: -83px -36px;
}

.t_firstCon b {
	position: absolute;
	display: block;
	width: 11px;
	height: 11px;
	top: 5px;
	left: 24px;
}

.t_firstCon .minus_t2 {
	background-position: -146px -36px;
}

.t_firstCon .add_t2 {
	background-position: -129px -36px;
}

.t_sec {
	position: relative;
	display: block;
	color: #030303;
	text-indent: 40px;
}

.t_secCon a {
	display: block;
	color: #494949;
	text-indent: 50px;
}

.t_secCon a:hover {
	color: #ec8908;
}

.t_secCon a b {
	display: inline-block;
	width: 7px;
	height: 6px;
	margin-right: 5px;
	background-position: -129px -57px;
	vertical-align: middle;
}

.t_secCon a:hover b {
	background-position: -147px -57px;
}

.t_firstCon,.t_secCon {
	display: none;
}

.sysSubMenu .cur {
	display: block;
}
/*
@：右侧内容
@：xiebei 20130729
*/

/*右侧栏目标题样式*/
.sys_pageTitle {
	height: 39px;
	text-align: left;
	background-color: #cbe4f4;
	font: 16px/39px \5FAE\8F6F\96C5\9ED1;
	text-indent: 17px;
	margin-top: 15px;
}

.sysCon {
	width: 833px;
	float: right;
}

.sysCon .option {
	top: 28px;
	left: -1px;
}

.sysTopMenu {
	height: 39px;
	background-color: #19aada;
}

.sysTopMenu li {
	float: left;
}

.sysTopMenu li a {
	display: block;
	float: left;
	height: 25px;
	margin: 7px 9px;
}

.sysTopMenu li span {
	float: left;
	display: block;
	height: 25px;
	padding: 0 3px;
	font: 14px/23px \5FAE\8F6F\96C5\9ED1;
	color: #fff;
}

.sysTopMenu li a:hover span,.sysTopMenu li.cur span {
	background-position: 0 -145px;
	background-repeat: repeat-x;
}

.sysTopMenu li span b {
	display: inline-block;
	width: 25px;
	height: 22px;
	*margin-top: 3px;
	vertical-align: middle;
}

.i_text {
	background-position: 0 -177px;
}

.i_pic {
	background-position: -26px -177px;
}

.i_video {
	background-position: -51px -177px;
}

.i_magzine {
	background-position: -80px -177px;
}

.i_basicData {
	background-position: -107px -177px;
}

.i_report {
	background-position: -133px -177px;
}

.i_sysDate {
	background-position: 0 -204px;
}

.sysTopMenu .fillet {
	float: left;
	width: 5px;
	height: 25px;
}

.sysTopMenu .fL {
	background-position: -123px -70px;
}

.sysTopMenu .fR {
	background-position: -152px -70px;
}

/* .searchBox{position:relative;margin-top:24px;margin-bottom:17px;padding:17px 30px;border:1px solid #558ed5;font:14px/29px \5FAE\8F6F\96C5\9ED1;}
.searchBox h3{position:absolute;top:-15px;left:19px;padding:0 6px;color:#558ed5;background-color:#fff;}
.searchBox li{height:29px;margin:13px 0;}
.searchBox .option li{cursor:pointer;line-height:24px;margin:0;}
.searchBox label{color:#242323;line-height:27px;margin-left:14px;}
.text{width:174px;height:27px;line-height:27px;border:1px solid #c4c4c4;}
.btnBlue77_32,.btnRed77_32{
	display:block;float:right;
	width:77px;height:32px;
	font:18px/32px \5FAE\8F6F\96C5\9ED1;text-align:center;color:#fff;
	margin-left:11px;
	} */
.searchBox {
	position: relative;
	margin-top: 24px;
	margin-bottom: 17px;
	padding: 17px 30px;
	border: 1px solid #558ed5;
	font: 12px/29px \5FAE\8F6F\96C5\9ED1;
}

.searchBox h3 {
	position: absolute;
	top: -15px;
	left: 19px;
	padding: 0 6px;
	color: #558ed5;
	background-color: #fff;
}

.searchBox li {
	height: 29px;
	margin: 8px 0;
}

.searchBox label {
	color: #242323;
	line-height: 27px;
	margin-left: 14px;
}

.text {
	width: 174px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #c4c4c4;
}

.btnBlue77_32 {
	display: block;
	float: right;
	width: 77px;
	height: 25px;
	font: 14px/32px \5FAE\8F6F\96C5\9ED1;
	text-align: center;
	color: #fff;
	background-position: -80px 0;
	margin-left: 11px;
	vertical-align: middle;
}

.btnBlue77_32 {
	background-position: -80px 0;
}

.btnRed77_32 {
	background-position: 0 -321px;
}
/*列表样式*/
.infoList {
	line-height: 29px;
	table-layout: fixed;
	border-collapse: collapse;
}

.infoList td,.infoList th {
	border: 1px solid #b5b4b4;
}

.infoList th {
	background-color: #558ed5;
	color: #fff;
}

.infoList td {
	text-align: center;
}

.infoList a:hover {
	color: #000;
}

.infoList td.infoTitle {
	text-align: left;
	text-indent: 10px;
}

.infoList td.infoTitle a {
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	work-break: keep-all;
	text-overflow: ellipsis;
}

.infoList td.infoTitle a:hover {
	color: #558ed5;
}

.btn44_20 {
	display: block;
	float: left;
	width: 44px;
	height: 20px;
	margin: 4px;
	line-height: 20px;
	color: #fff;
	font-weight: bold;
}

.btnBlue {
	background-position: 0 -70px;
}

.btnGray {
	background-position: -53px -70px;
}
/*系统后台底部样式*/
.infoAdd {
	padding-left: 15px;
	margin-top: 15px;
}

.infoAdd label {
	display: block;
	float: left;
	width: 80px;
	margin-left: 0;
	text-align: right;
}

.infoAdd .red {
	color: #fa0d0d;
}

.infoAdd .text {
	float: left;
	width: 704px;
}

.infoAdd .w254 {
	width: 254px;
}

.infoAdd .checkbox {
	float: left;
	vertical-align: middle;
	margin-top: 8px;
	*display: block;
	*margin-top: 5px;
	margin-right: 5px;
}

.infoAdd .al_l {
	margin-left: 0;
	margin-right: 15px;
	text-align: left;
}

.keyWords input {
	border: none;
	*border: 0;
	width: 590px;
	float: left;
	height: 27px;
	line-height: 27px;
}

.keyWords .btnGray {
	display: block;
	float: right;
	width: 109px;
	height: 29px;
	text-align: center;
	font: 100 12px/29px \5b8b\4f53;
	color: #242323;
	background-position: 0 -285px;
}

.infoAdd .summary {
	height: 61px;
}

.summary textarea {
	float: left;
	width: 704px;
	height: 61px;
	border: 1px solid #c4c4c4;
}

.reviewersSelect .selectMenu {
	width: 255px;
}

.reviewersSelect .selectText {
	width: 227px;
	text-align: left;
	line-height: 27px;
	padding: 0;
}

.reviewersSelect .option {
	width: 224px;
}

.infoAdd .infoCon {
	height: auto;
}

.infoCon .addCon {
	float: right;
	width: 704px;
}

.infoCon .addCon textarea {
	width: 704px;
	height: 500px;
}

.infoAdd .btn {
	margin-top: 20px;
}

.infoAdd .btn a {
	font-size: 16px;
	line-height: 30px;
}

.infoAdd .btn a:hover {
	color: #fff;
}

.infoAdd .btn label {
	width: 20px;
}

.infoAdd .btn .w100 {
	width: 100px;
}
/*系统后台底部样式*/
.sys_footer {
	height: 42px;
	margin-top: 18px;
	line-height: 43px;
	text-align: center;
	color: #333435;
	border-top: 1px solid #f4f6f8;
	background: url(../images/sysManage/bg_sysSprite.png) 0 -229px repeat-x;
}