
.communicationDetail{font:12px/30px \5b8b\4f53;}
.communicationDetail h2{font:24px/70px Microsoft YaHei;color:#000;text-align:center;border-bottom:2px dotted #828080;}
.communicationDetail ul{margin:7px 0;}
.communicationDetail li{display:block;float:left;width:33%;line-height:24px;}
.userCommend{float:left;text-align:left;}

body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 arial,\5b8b\4f53;color:#404040;}
ul,ol,li{list-style-type:none;}
.clearfix:after{content:".";height:0;display:block;visibility:hidden;clear:both;*zoom:1;}
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ }
*+html .clearfix { min-height:1%; }/* ie7 hack*/ 
.l{float:left;}
.r{float:right;}
img{border:0;}
a{color:#404040;text-decoration:none;}
a:hover{color:#d90c0c;}
.cBlue{color:#1999f1;}
.dis {
	DISPLAY: block
	}
.undis {
	DISPLAY: none
	}
.al_r{text-align:right;}
.al_c{text-align:center;}


.communicationDetail .share span,.communicationDetail .share a{float:right;}
.communicationDetail .share a{display:block;width:24px;height:24px;margin:0 3px;}
.sinaBlog{background-position:-66px -200px;}
.qZone{background-position:-96px -200px;}
.qqBlog{background-position:-125px -200px;}
.communicationDetail h3{font-size:14px;margin-top:20px;}
.h6{font:22px/22px Microsoft YaHei;text-align:center;border-bottom:2px dotted #828080;color:#003E3E}
.communicationDetail.clearfix.li.li1{folat:center}

legend.grouptype{
	font:22px/22px Microsoft YaHei;text-align:center;border-bottom:2px dotted #828080;color:#003E3E;
}

td.edittil{font:15px/22px Microsoft YaHei;text-align:right;color:red; }
.eidttilinput{width:80%; hight:24px}
td.edittile{font:15px/22px Microsoft YaHei;text-align:right;}
.optionsumtext{ float:right;padding:0 0 30px 0;font:15px/22px Microsoft YaHei;text-align:right;}
tr.lable{height:35px;}



.css_btn_class_red {
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #d02718;
	padding:4px 6px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(22%, #f24537), color-stop(83%, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 22%, #c62d1f 83% );
	background:-ms-linear-gradient( top, #f24537 22%, #c62d1f 83% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 2px #810e05;
 	-webkit-box-shadow:inset 1px 1px 4px 0px #f5978e;
 	-moz-box-shadow:inset 1px 1px 4px 0px #f5978e;
 	box-shadow:inset 1px 1px 4px 0px #f5978e;
}.css_btn_class_red:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(22%, #c62d1f), color-stop(83%, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 22%, #f24537 83% );
	background:-ms-linear-gradient( top, #c62d1f 22%, #f24537 83% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.css_btn_class_red:active {
	position:relative;
	top:1px;
}
/* This css button was generated by css-button-generator.com */

.css_btn_class_blue {
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #337fed;
	padding:4px 6px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(22%, #3d94f6), color-stop(83%, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 22%, #1e62d0 83% );
	background:-ms-linear-gradient( top, #3d94f6 22%, #1e62d0 83% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 2px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 4px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 4px 0px #97c4fe;
 	box-shadow:inset 1px 1px 4px 0px #97c4fe;
}.css_btn_class_blue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(22%, #1e62d0), color-stop(83%, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 22%, #3d94f6 83% );
	background:-ms-linear-gradient( top, #1e62d0 22%, #3d94f6 83% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.css_btn_class_blue:active {
	position:relative;
	top:1px;
}