<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<!-- 设置CONSOLE监视器输出方式 -->
	<appender name="CoDesignCONSOLEAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<!--滤镜设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="info" />
			<param name="levelMax" value="info" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<!-- 设置通道CoDesign INFO Appender和输出方式：org.apache.log4j.RollingFileAppender -->
	<appender name="CoDesignINFOAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<!-- 设置File参数：日志输出文件名 -->
		<param name="File" value="${catalina.home}/logs/educloud.log" />
		<!-- 设置是否在重新启动服务时，true值代表在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="500KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- 设置输出文件项目和格式 -->
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%p] [%c] %m%n" />
		</layout>
	</appender>

<!-- 	<appender name="debug" class="net.sf.ehcache">
		<param name="Threshold" value="debug" />
	</appender> -->
	
	<!--  category 部分定义了特定包或者类的输出级别和方式，可以有多个 -->
	<category name="net.sf.ehcache">
	   <priority value="debug"/>
	   <appender-ref ref="CoDesignCONSOLEAppender"/>
	</category>
	

    <!--  打印日志到固定的文件中CoDesignINFOAppender选择自定义的日志级别设置 -->
    <category name="com.googlecode.ehcache.annotations">
	   <priority value="debug"/>
	   <appender-ref ref="CoDesignINFOAppender"/>
	</category>
    <appender name="IBatis" class="org.apache.log4j.ConsoleAppender"><!-- added by lyl for ibatis console-->
       <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern"
         value="%-4r [%t] %-5p %c %x - %m%n" />
       </layout>
       <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="DEBUG" />
       </filter>
    </appender>

<logger name="com.ibatis" additivity="true">
   <level value="DEBUG" />
    </logger>

    <logger name="java.sql.Connection" additivity="true">
       <level value="DEBUG" />
    </logger>
<!--
    <logger name="java.sql.Statement" additivity="true">
       <level value="DEBUG" />
    </logger>
 -->
    <logger name="java.sql.PreparedStatement" additivity="true">
       <level value="DEBUG" />
       <appender-ref ref="IBatis" />
    </logger>

    <logger name="java.sql.ResultSet" additivity="true">
       <level value="DEBUG" />
       <appender-ref ref="IBatis" />
    </logger>

    
	
	<root>
		<!-- 设置接收所有输出的通道 -->  
		<!-- 
		<level value="trace" />
		<level value="debug" />
		 	<level value="info" />
		  	<level value="warn" />
		  	<level value="error" />
			<level value="fatal" /> 
		-->
		
		<!-- 与前面的通道id相对应 -->  
		<appender-ref ref="CoDesignCONSOLEAppender" />
		<appender-ref ref="CoDesignINFOAppender" />
	</root>
</log4j:configuration>